<div class="wrapperTitle" data-bind="visible:loading">
	<i class="fa fa-refresh fa-spin"></i> Loading...
</div>

<div data-bind="if:!loading() && cohortComparison()">
	<div class="wrapperTitle">
		<i class="fa fa-balance-scale"></i> Cohort Comparison
	</div>

	<div class="asset-heading">
		<input type="text" data-bind="textInput: cohortComparison().name, css: { emptyInput: !(cohortComparison().name() && (cohortComparison().name().length > 0)) }" />
		<div class="btn-group" role="group">
			<button class="btn btn-sm btn-success" data-bind="click: save, enable:canSave">Save</button>
			<button class="btn btn-sm btn-primary" data-bind="click: close">Close</button>
		</div>
	</div>

	<ul class="nav nav-tabs">
		<li role="presentation" data-bind="css: { active: $component.tabMode() == 'specification' }, click: function() { $component.tabMode('specification') };"><a>Analysis Specification</a>
		</li>
		<li role="presentation" data-bind="css: { active: $component.tabMode() == 'generate' }, click: function() { $component.tabMode('generate') };"><a>Generate</a>
		</li>
		<li role="presentation" data-bind="css: { active: $component.tabMode() == 'executions' }, click: function() { $component.tabMode('executions') };"><a>Results</a>
		</li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" data-bind="css: { active: $component.tabMode() == 'executions' }" class="tab-pane">
			<faceted-datatable params="{orderColumn:3, reference:executions, columns: executionColumns, options:executionOptions, rowClick:executionSelected}">
			</faceted-datatable>

			<div data-bind="visible: $component.currentExecutionId()">
				<div class="heading">
					Execution <span data-bind="text:currentExecutionId"></span> AUC: <span data-bind="text:currentExecutionAuc"></span>
				</div>

				<ul class="nav nav-pills">
					<li role="presentation" data-bind="css: { active: $component.pillMode() == 'covariates' }, click: function() { $component.pillMode('covariates') };"><a>Covariates</a>
					</li>
					<li role="presentation" data-bind="css: { active: $component.pillMode() == 'psd' }, click: function() { $component.pillMode('psd') };"><a>PS Distribution</a>
					</li>
					<li role="presentation" data-bind="css: { active: $component.pillMode() == 'matched' }, click: function() { $component.pillMode('matched') };"><a>Matched PS Distribution</a>
					</li>
					<li role="presentation" data-bind="css: { active: $component.pillMode() == 'attrition' }, click: function() { $component.pillMode('attrition') };"><a>Attrition</a>
					</li>
					<li role="presentation" data-bind="css: { active: $component.pillMode() == 'balance' }, click: function() { $component.pillMode('balance') };"><a>Balance</a>
					</li>
				</ul>

				<div class="tab-content">
					<div role="tabpanel" data-bind="visible: $component.pillMode() == 'covariates'">
						<faceted-datatable params="{orderColumn:2, reference:covariates, columns: covariateColumns, options:covariateOptions, rowClick:covariateSelected}">
						</faceted-datatable>
					</div>
					<div role="tabpanel" data-bind="visible: $component.pillMode() == 'attrition'">
						<div class="paddedWrapper">
							<table class="padded">
								<thead>
									<th>Description</th>
									<th>Treated Persons</th>
									<th>Comparator Persons</th>
									<th>Treated Exposures</th>
									<th>Comparator Exposures</th>
								</thead>
								<tbody data-bind="foreach:attrition">
									<tr>
										<td data-bind="text:description"></td>
										<td class="numeric" data-bind="text:treatedPersons"></td>
										<td class="numeric" data-bind="text:comparatorPersons"></td>
										<td class="numeric" data-bind="text:treatedExposures"></td>
										<td class="numeric" data-bind="text:comparatorExposures"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div role="tabpanel" data-bind="visible: $component.pillMode() == 'psd'">
						<div id="psmodeldistChart">
							<svg></svg>
						</div>
					</div>
					<div role="tabpanel" data-bind="visible: $component.pillMode() == 'matched'">
						<div id="matchedpopdistChart">
							<svg></svg>
						</div>
					</div>
					<div role="tabpanel" data-bind="visible: $component.pillMode() == 'balance'">
						<div id="balanceChart">
							<svg></svg>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<div role="tabpanel" data-bind="css: { active: $component.tabMode() == 'specification'}" class="tab-pane">
			<div class="row">
				<div class="col-md-8">
					<div>
						<label>treatment cohort</label>
						<div class="input-group">
							<input class="form-control" type="text" disabled data-bind="value: cohortComparison().treatmentCaption" />
							<span class="input-group-btn">
        				<button class="btn btn-primary" data-bind="click:chooseTreatment"><i class="fa fa-folder-open"></i></button>
							</span>
						</div>
					</div>
					<div>
						<label>comparator cohort</label>
						<div class="input-group">
							<input class="form-control" type="text" disabled data-bind="value: cohortComparison().comparatorCaption" />
							<span class="input-group-btn">
        				<button class="btn btn-primary" data-bind="click:chooseComparator"><i class="fa fa-folder-open"></i></button>
							</span>
						</div>
					</div>
					<div>
						<label>outcome cohort</label>
						<div class="input-group">
							<input class="form-control" type="text" disabled data-bind="value: cohortComparison().outcomeCaption" />
							<span class="input-group-btn">
        				<button class="btn btn-primary" data-bind="click:chooseOutcome"><i class="fa fa-folder-open"></i></button>
							</span>
						</div>
					</div>
					<div>
						<label>exclusions</label>
						<div class="input-group">
							<input class="form-control" type="text" disabled data-bind="value: cohortComparison().exclusionCaption" />
							<span class="input-group-btn">
        				<button class="btn btn-primary" data-bind="click:chooseExclusion"><i class="fa fa-folder-open"></i></button>
							</span>
						</div>
					</div>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
		<div role="tabpanel" data-bind="css: { active: $component.tabMode() == 'generate' }" class="tab-pane">
			<div data-bind="click:executeCohortComparison" class="btn btn-success btn-sm">Generate Cohort Comparison</div>
		</div>
	</div>

	<div id="modalCohortDefinition" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div class="modal-title">Choose a Cohort</div>
				</div>
				<div class="modal-body">
					<cohort-definition-browser params="{model: self.model, cohortDefinitionSelected: cohortSelected}"></cohort-definition-browser>
				</div>
			</div>
		</div>
	</div>

	<div id="modalConceptSet" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<div class="modal-title">Choose a Concept Set</div>
				</div>
				<div class="modal-body">
					<cohort-concept-set-browser params="{onRespositoryConceptSetSelected: $component.conceptsetSelected}"></cohort-concept-set-browser>
				</div>
			</div>
		</div>
	</div>

</div>