<div class="wrapperTitle" data-bind="visible:loading">
	<i class="fa fa-refresh fa-spin"></i> Loading...
</div>

<div data-bind="visible:!loading()">
	<div class="wrapperTitle">
		<i class="fa fa-balance-scale"></i> Cohort Comparison
	</div>

	<div class="asset-heading">
		<input type="text" data-bind="textInput: cohortComparison().name, css: { emptyInput: !(cohortComparison().name() && (cohortComparison().name().length > 0)) }"></input>
	</div>

	<ul class="nav nav-tabs">
		<li role="presentation" data-bind="css: { active: $component.tabMode() == 'overview' }, click: function() { $component.tabMode('overview') };"><a>Overview</a>
		</li>
		<li role="presentation" data-bind="css: { active: $component.tabMode() == 'advanced' }, click: function() { $component.tabMode('advanced') };"><a>Advanced</a>
		</li>
		<li role="presentation" data-bind="css: { active: $component.tabMode() == 'generate' }, click: function() { $component.tabMode('generate') };"><a>Generate</a>
		</li>
		<li role="presentation" data-bind="css: { active: $component.tabMode() == 'results' }, click: function() { $component.tabMode('import') };"><a>Import</a>
		</li>
	</ul>

	<div class="tab-content">
		<div role="tabpanel" data-bind="css: { active: $component.tabMode() == 'overview' }" class="tab-pane">
			<div class="container">
				<div class="row">
					<div class="col-md-8">
						<div>
							<label>treatment cohort</label>
							<div class="input-group">
								<input class="form-control" type="text" data-bind="textInput: cohortComparison().treatment" />
								<span class="input-group-btn">
        				<button class="btn btn-primary" type="button"><i class="fa fa-folder-open"></i></button>
							</span>
							</div>
						</div>
						<div>
							<label>comparator cohort</label>
							<div class="input-group">
								<input class="form-control" type="text" data-bind="textInput: cohortComparison().comparator" />
								<span class="input-group-btn">
        				<button class="btn btn-primary" type="button"><i class="fa fa-folder-open"></i></button>
							</span>
							</div>
						</div>
						<div>
							<label>outcome cohort</label>
							<div class="input-group">
								<input class="form-control" type="text" data-bind="textInput: cohortComparison().outcome" />
								<span class="input-group-btn">
        				<button class="btn btn-primary" type="button"><i class="fa fa-folder-open"></i></button>
							</span>
							</div>
						</div>
						<div>
							<label>exclusions</label>
							<div class="input-group">
								<input class="form-control" type="text" data-bind="textInput: cohortComparison().exclusions" />
								<span class="input-group-btn">
        				<button class="btn btn-primary" type="button"><i class="fa fa-folder-open"></i></button>
							</span>
							</div>
						</div>
					</div>
					<div class="col-md-4"></div>
				</div>
			</div>
		</div>
		<div role="tabpanel" data-bind="css: { active: $component.tabMode() == 'generate' }" class="tab-pane">
			<div data-bind="click:generateCohortComparison" class="btn btn-success btn-sm">Generate Cohort Comparison</div>
		</div>
	</div>
